/* @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); fonte Handlee */
/* @import url('https://fonts.googleapis.com/css2?family=Mali&display=swap'); fonte mali */



body{
    background-image: url(/img/background.png);
    font-family: 'Handlee', cursive;
    /* font-family: 'Mali', cursive; */
    
}
.sobre-abrigos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-abrigos{  
    margin: 30px;
    padding: 20px;
    display:flex;
    width: 350px;
    height: 200px;
    background-color: #f27127;
    border-radius: 10%;
    flex-wrap: wrap;
}
.foto-sobre-abrigos{
    border-radius: 10%;
    margin: 25px
}
.cards-abrigos{
    display:flex;
    justify-content: center;
    
}
.card{
    background-color: #f27127;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin: 40px;
    border-radius: 10%;
    
}
.logo-abrigo{
    text-align: center;      
}
.img-logo{
    width: 90px;
}
.info-parceiro{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    flex-direction: column;
}
.pag-parceiro{
    padding: 9px;
}

.link-pag{
    text-align: center;
    background: #401414;
    color: #f27127; 
    text-decoration: none;
    padding: 2px;
}