* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

main{
    font-family: 'Mali', Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 5px black;
    color: aliceblue;
  
}
main section:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


body{
    background-image: url("../img/background.png");
    background-color: rgb(255, 255, 255);
    opacity: calc();
    
    
}

h1, h2 {
    color: aliceblue;
    text-shadow: 0 0 10px black;
   
}

#map { 
    margin-left: 20px;
    height: 400px; 
    width: 60%;
}


.encontre {
    display: flex;
    font-family: 'mali', cursive;
    font-size: 32px;
    margin: 20px;
    border-radius: 10px;
  
  
   
 
}


.regioes {
    
    font-family: 'mali', cursive;
    align-items: left;
    font-size: 24px;
    margin: 10px;
    margin-top: -25px;
    background-color: #f27c22;
    border-radius: 30px;

}



#abrigos-box{

    background-color: #f27c22;
    border-radius: 20px;
    margin: auto;
   

   
   
}

#abrigos-box ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
   box-sizing: border-box;
   box-shadow: 1px 1px 1px rgb(155, 92, 9) ;
   color:aliceblue ;
   justify-content: space-around;
    
}


.custom-select {
    font-size: 24px;
    margin: auto;
    font-weight: 300;
}





