
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content: space-around;
}
section div {
    margin: 35px 5px 25px 10px;
    padding: 20px;
}


body{
    background-image: url(/img/background.png);
    width:max-content 1200px;
    padding:0px;


}
#titulo{
    text-align: center;
    color:rgba(214, 113, 25, 0.911);
    text-shadow: 3px 3px 5px  rgb(180, 148, 116);
    font-family: Quicksand;
    margin:3px 
    

}

#tudo{
   
    
    background-color: rgba(255, 255, 255, 0.942);
    opacity:92%;
    text-align:center;
    margin: 20px auto;
    width: 370px;
    padding: 10px;
    border-radius:10px;
    border-color: orange;
    box-shadow:  2px 2px 6px rgb(181, 181, 181);
}

.conteudo{
    margin: 15px;
    font-family: Quicksand;
    color: black;
    z-index: inherit;
}
#solicitacao{
    margin-top: 25px;

}

textarea{
    margin-top:15px; width: 100%;
    height: 100px;
    color: rgb(121, 118, 118);
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;

}

button#botaoenviar{
    color: white;
    background-color: rgb(83, 56, 28);
    font-size: 10px;
    width: 70px;
    margin-bottom: 6px;
    border-radius: 5px;
    padding: 10px;
    border: none;

}

button#botaoenviar:hover{
    background-color: rgb(52, 78, 35);
    
}

input{
    display: block;
    background-color: rgb(212, 206, 206);
    height: 27px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
    
}

