/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap'); */ 

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    background-image: url(/img/background.png);
    
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    max-width: 80rem;

    width: 100%;

    /* background-color: #e7e7e765; */

    padding-top: 1rem;
    padding-bottom: 1rem;
}

main div.container{
    
    background-color: #ffff;
    max-width: 48rem;

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 20px 20px 20px 20px;
   
    border-radius: 5px;
    box-shadow: 0px 4px 10px  #85848470;
    
}
 h1 {
    font-family: 'Handlee', cursive;
    margin-bottom: 20px;

    color: #590902;
 }

p.sobre {
    margin-bottom: 30px;
}
div.info {
    
    font-size: 17px;
    line-height: 24px;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Manrope', sans-serif;
    
    font-weight: 500;
}

 h2 {
    font-family: 'Handlee', cursive;
    margin-bottom: 20px;

    color: #590902
 }
