body{
    background-image: url(../pag3_abrigos/img/wallpaper__1920____1080_px_.png);
    
}
.sobreAbrigos{
    display: flex;
    align-items:center;
}
.infoAbrigos{  
    margin: 30px;
    padding: 20px;
    display:inline-block;
    width: 350px;
    background-color: #f27127;
    border-radius: 10%;
}
.fotoSobreAbrigos{
    border-radius: 10%;
}
.cardsAbrigos{
    display:flex;
    justify-content: center;
    
}
.card{
    background-color: #f27127;
    width: 210px;
    height: 400px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin: 40px;
    border-radius: 10%;
    
}
.logoAbrigo{
    text-align: center;      
}
.imgLogo{
    width: 90px;
}
.infoParceiro{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    flex-direction: column;
}
.pagParceiro{
    display: flex;
    text-align: center;
    background: #401414;
    width: 100px;
}

.linkPag{
    display: flex;
    text-align: center;
    color: #f27127; 
    text-decoration: none;
}