/* @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap'); fonte Handlee */
/* @import url('https://fonts.googleapis.com/css2?family=Mali&display=swap'); fonte mali */



body{
    background-image: url(../pag3_abrigos/img/wallpaper__1920____1080_px_.png);
    font-family: 'Handlee', cursive;
    /* font-family: 'Mali', cursive; */
    
}
.sobreAbrigos{
    display: flex;
    align-items:center;
}
.infoAbrigos{  
    margin: 30px;
    padding: 20px;
    display:inline-block;
    width: 350px;
    background-color: #f27127;
    border-radius: 10%;
}
.fotoSobreAbrigos{
    border-radius: 10%;
    margin: 25px
}
.cardsAbrigos{
    display:flex;
    justify-content: center;
    
}
.card{
    background-color: #f27127;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 30px;
    margin: 40px;
    border-radius: 10%;
    
}
.logoAbrigo{
    text-align: center;      
}
.imgLogo{
    width: 90px;
}
.infoParceiro{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    flex-direction: column;
}
.pagParceiro{
    padding: 9px;
}

.linkPag{
    text-align: center;
    background: #401414;
    color: #f27127; 
    text-decoration: none;
    padding: 2px;
}