<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/abrigosParceiros.css">
    <title>Abrigos</title>
</head>
    <body> <!-- section sobre os abrigos-->
        <%-include('./partials/header')%> 
        <section class="sobre-abrigos">
            <div class="info-abrigos">                  
                <h1>Nossos abrigos parceiros</h1>
                    
                <p>Aqui você encontrara todos nossos abrigos parceitos, contendo
                    informações sobre localização, sites, redes sociais e 
                    como ajudar o abrigo.</p>
            </div>
            <div class="foto-sobre-abrigos">
                <img class="foto-sobre-abrigos" src="/img/cachorrograde.jpeg" alt="Foto de um cachorrinho pequeno atrás de uma grande.">
            </div>

        </section>  <!-- section contendo divs sobre os abrigos-->   

        <section class="Abrigos-parceiros">
            <div class="cards-abrigos">  
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 1</h2>  <!-- abrigo 1-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 2</h2>   <!-- abrigo 2-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    ure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 3</h2>   <!-- abrigo 3-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo"> 
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 4</h2>   <!-- abrigo 4-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>  
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <%-include('./partials/footer')%>            
    </body>

</html>