<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/abrigosParceiros.css">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <title>Abrigos</title>
</head>
    <header>
        <div>
            <figure id="logotipo">
                <img class="logo" src="/img/dog_br_transp.png" onmouseover="this.src='/img/6_1.png'" onmouseout="this.src='/img/dog_br_transp.png'" alt="Logotipo da empresa Helpet, cachorro de perfil vazado no fundo branco.">
            </figure>

            <figure id="helpet">
                <img class= "helpet" src="/img/helpet.png" onmouseover="this.src='/img/6_2.png'" onmouseout="this.src='/img/helpet.png'" alt="Nome da empresa Helpet acompanhando o logotipo.">
            </figure>
        
        </div>
        

        <nav>
            <ul id="menu">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>

                <li>
                    <a href="/abrigos">
                        Abrigos
                    </a>
                </li>

                <li>
                    <a href="/abrigosParceiros">
                        Abrigos Parceiros
                    </a>
                </li>

                <li>
                    <a href="/sobreNos">
                        Sobre nós
                    </a>
                </li>

                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>

                <li>
                    <a href="/faleconosco">
                        Fale conosco
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <body> <!-- section sobre os abrigos-->
        <section class="sobre-abrigos">
            <div class="info-abrigos">                  
                <h1>Nossos abrigos parceiros</h1>
                    
                <p>Aqui você encontrara todos nossos abrigos parceitos, contendo
                    informações sobre localização, sites, redes sociais e 
                    como ajudar o abrigo.</p>
            </div>
            <div class="foto-sobre-abrigos">
                <img class="foto-sobre-abrigos" src="/img/cachorrograde.jpeg" alt="Foto de um cachorrinho pequeno atrás de uma grande.">
            </div>

        </section>  <!-- section contendo divs sobre os abrigos-->   

        <section class="Abrigos-parceiros">
            <div class="cards-abrigos">  
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 1</h2>  <!-- abrigo 1-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 2</h2>   <!-- abrigo 2-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    ure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 3</h2>   <!-- abrigo 3-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo"> 
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 4</h2>   <!-- abrigo 4-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>  
                        </div>
                    </div>
                </div>
            </div> 
        </section>            
    </body>
    <footer id="footer">
        <div class="links">
            <div class="links_1">
                <ul>
                    <li class="titulo">Menu</li>
                    <li>
                        <a href="/sobreNos">Sobre nós</a>
                    </li>
                    <li>
                        <a href="/login/cadastro">Cadastro</a>
                    </li>
                    <li>
                        <a href="/abrigosParceiros">Abrigos parceiros</a>
                    </li>
                    <li>
                        <a href="/abrigosParceiros">Abrigos</a>
                    </li>
                    <li>
                        <a href="/">home</a>
                    </li>
                </ul>
            </div>
            <div class="redes">
                <img src="/img/instagram_2.png" alt="ícone do Instagram">
                <img src="/img/facebook_2.png" alt="ícone do Facebook">
                <img src="/img/youtube_2.png" alt="ícone do Youtube">
             </div>
        </div>

        <div class="img-logo">
            
                <img class="cachorrinho" src="/img/6_1.png" alt="Logotipo da empresa marrom cachorrinho vazado em branco">
            
                <img class="pet" src="/img/6_2.png" alt="Logotipo da empresa marrom escrito helpet">
        </div>


    </footer>
</html>