<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon_helpet.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/abrigosParceiros.css">
    <title>Abrigos</title>
</head>
    <body> <!-- section sobre os abrigos-->
        <%-include('./partials/header')%> 
        <main class="infos">
        <section class="sobre-abrigos">
            <div class="info-abrigos">                  
                <h1>Nossos abrigos parceiros</h1>
                    
                <p>Aqui você encontrara todos nossos abrigos parceitos, contendo
                    informações sobre localização, sites, redes sociais e 
                    como ajudar o abrigo.</p>
            </div>
        
            <!--<div class="foto-sobre-abrigos">!-->
                <!--<img class="foto-sobre-abrigos" src="/img/cachorrograde.jpeg" alt="Foto de um cachorrinho pequeno atrás de uma grande.">-->
        
            <div class="content">

                <div class="slides">
                <input type="radio" name="slide" id="slide1">
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">
                
                <div class="slide s1">
                    <img src="/img/foto1.jpeg" alt="cachorrinho olhando através de grade">
                </div>
                <div class="slide">
                    <img src="/img/foto2.jpg" alt="cachorros deitados dentro de casinhas de madeira">
                </div>
                <div class="slide">
                    <img src="/img/foto3.jpg" alt="filhote com a cara na grade">
                </div>
                <div class="slide">
                    <img src="/img/foto4.jpg" alt="cachorro com cara de triste atras de grade">
                </div>
                <div class="slide">
                    <img src="/img/foto5.jpg" alt="cachorro feliz recebendo carinho de uma mulher">
                </div>

                <div class="navigation">
                    <label class="bar" for="slide1"></label>
                    <label class="bar" for="slide2"></label>
                    <label class="bar" for="slide3"></label>
                    <label class="bar" for="slide4"></label>
                    <label class="bar" for="slide5"></label>
                </div>

                </div>      
            </div>
            
        </section> 
        </main>
        <section class="Abrigos-parceiros">  <!-- section contendo divs sobre os abrigos-->   
            <div class="cards-abrigos">  
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 1</h2>  <!-- abrigo 1-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 2</h2>   <!-- abrigo 2-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    ure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 3</h2>   <!-- abrigo 3-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo"> 
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Abrigo 4</h2>   <!-- abrigo 4-->
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste 
                                    nesciunt quo distinctio. Saepe, animi maxime amet 
                                    laudantium eligendi, impedit quod necessitatibus at, 
                                    iure voluptate ab eius nihil facilis quaerat.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="/abrigosParceiros/pagParceiro">Pag abrigo</a>  
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <%-include('./partials/footer')%>            
    </body>

</html>