<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon_helpet.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/abrigosParceiros.css">
    <title>Abrigos</title>
</head>
    <body> <!-- section sobre os abrigos-->
        <%-include('./partials/header')%> 
        <main class="infos">
        <section class="sobre-abrigos">
            <div class="info-abrigos">                  
                <h1>Nossos abrigos parceiros</h1>
                    
                <p>Aqui você encontrara todos nossos abrigos parceitos, contendo
                    informações sobre localização, sites, redes sociais e 
                    como ajudar o abrigo.</p>
            </div>
        
            <!--<div class="foto-sobre-abrigos">!-->
                <!--<img class="foto-sobre-abrigos" src="/img/cachorrograde.jpeg" alt="Foto de um cachorrinho pequeno atrás de uma grande.">-->
        
            <div class="content">

                <div class="slides">
                <input type="radio" name="slide" id="slide1">
                <input type="radio" name="slide" id="slide2">
                <input type="radio" name="slide" id="slide3">
                <input type="radio" name="slide" id="slide4">
                <input type="radio" name="slide" id="slide5">
                
                <div class="slide s1">
                    <img src="/img/foto1.jpeg" alt="cachorrinho olhando através de grade">
                </div>
                <div class="slide">
                    <img src="/img/foto2.jpg" alt="cachorros deitados dentro de casinhas de madeira">
                </div>
                <div class="slide">
                    <img src="/img/foto3.jpg" alt="filhote com a cara na grade">
                </div>
                <div class="slide">
                    <img src="/img/foto4.jpg" alt="cachorro com cara de triste atras de grade">
                </div>
                <div class="slide">
                    <img src="/img/foto5.jpg" alt="cachorro feliz recebendo carinho de uma mulher">
                </div>

                <div class="navigation">
                    <label class="bar" for="slide1"></label>
                    <label class="bar" for="slide2"></label>
                    <label class="bar" for="slide3"></label>
                    <label class="bar" for="slide4"></label>
                    <label class="bar" for="slide5"></label>
                </div>

                </div>      
            </div>
            
        </section> 
        </main>
        <section class="Abrigos-parceiros">  <!-- section contendo divs sobre os abrigos-->   
            <div class="cards-abrigos">  
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Miados e Latidos</h2>  <!-- abrigo 1-->
                                <p>
                                    A missão da Confraria dos Miados e Latidos é proporcionar bem estar e qualidade de vida à maior quantidade possível de cães e gatos, conhecendo suas necessidades, respeitando suas peculiaridades e contribuindo para a sua relação com os seres humanos.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="https://www.miadoselatidos.org.br/">Pag abrigo</a>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Cão sem dono</h2>   <!-- abrigo 2-->
                                <p>O Cão Sem Dono é uma ONG (Organização Não Governamental), sem fins lucrativos, e que nasceu de um grande sonho do seu atual presidente: tirar o maior número possível de animais das ruas, dar tratamento adequado e integrá-los a famílias que lhes deem amor, carinho e uma vida digna.</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="https://www.caosemdono.com.br/">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo">
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>Acãochego</h2>   <!-- abrigo 3-->
                                <p>Há 19 anos existimos pelos cachorros. As histórias de adoção nos deixam felizes e com a sensação de dever cumprido. Os desafios para manter o funcionamento são muitos! Se você tem condições de contribuir com nossa causa, na compra de ração e medicamentos, atendimento veterinário, produtos de limpeza, etc...</p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="https://acaochego.org/">Pag abrigo</a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="logo-abrigo"> 
                        <img class="img-logo" src="/img/logoAbrigoparceiro.png" alt="">
                    </div>
                    <div class="info-parceiro">
                        <h2>CZZ Mogi das Cruzes</h2>   <!-- abrigo 4-->
                                <p>O CCZ mantém um programa permanente e gratuito de castração de cães e gatos, onde os proprietários recebem, entre outros benefícios, o incentivo à posse responsável dos animais. Além do controle da população de animais domésticos. </p>
                        <div class="pag-parceiro">
                            <a class="link-pag" href="https://www.mogidascruzes.sp.gov.br/servico/animais/adocao-de-animais">Pag abrigo</a>  
                        </div>
                    </div>
                </div>
            </div> 
        </section>
        <%-include('./partials/footer')%>            
    </body>

</html>