<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar abrigos</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <%-include('./partials/header')%>
    <main>
        <h2>Cadastro</h2>
        <form action="/login/cadastro" method="post" enctype="multipart/form-data">
        <div class="divpai">
                <br></br>
                <div class="divfilho">
                      <label for="email">Email:</label>
                      <input type="email" name="Email" id="" placeholder="  Ex: abrigo@gmail.com">
                </div>
                
          <div class="divfilho">
              <label for="Nome completo">Nome completo:</label>
              <input type="text" name="NomeProprietario" id="" placeholder="  Ex: Lar dos vira-latas">
           </div>
           
           <div class="divfilho">
               <label for="cpf">CPF:</label>
               <input type="text" name="Capacidade" id="" placeholder="  Ex: comportamos 100 caês">
          </div>

          <div class="divfilho">
              <label for="numero">Telefone:</label>
              <input type="number" name="Numero" id="" placeholder="  Ex:(xx)xxxxx-xxxx">
           </div>
         
         <div class="divfilho">
             <label for="capadidade">Capacidade do abrigo:</label>
             <input type="text" name="Capacidade" id="" placeholder="  Ex: comportamos 100 caês">
        </div>

        <div class="divfilho">
            <label for="numero">Número do abrigo:</label>
            <input type="number" name="Numero" id="" placeholder="  Ex:(xx)xxxxx-xxxx">
         </div>

         <div class="divfilho">
            <label for="endereco">Endereço:</label>
            <input type="text" name="Endereco" id="" placeholder="  Ex: Rua Felipe dos Santos">
      </div>

      <div class="divfilho">
          <label for="Bairro">Bairro:</label>
          <input type="text" name="Bairro" id="" placeholder="  Ex: Jardim Guanabara">
       </div>

       <div class="divfilho">
           <label for="Nome do abrigo">Nome do abrigo:</label>
           <input type="text" name="NomeDoAbrigo" id="" placeholder="  Ex: Lar dos vira-latas">
      </div>

            
     <div class="divfilho">
        <label for="email">Email do abrigo:</label>
        <input type="email" name="Email" id="" placeholder="  Ex: abrigo@gmail.com">
  </div>

  <div class="divfilho">
    <label for="Instagram">Instagram:</label>
    <input type="text" name="Instagram" id="" placeholder="  Ex: Lar dos vira-latas">
</div>


<div class="divfilho">
    <label for="Facebook">Facebook:</label>
    <input type="text" name="Facebook" id="" placeholder="  Ex: Lar dos vira-latas">
</div>

<div class="divfilho">
    <label for="Whatsapp">Whatsapp:</label>
    <input type="text" name="Whatsapp" id="" placeholder="  Ex: Lar dos vira-latas">
</div>

        <div class="divfilho">
            <label for="senha">Senha:</label>
            <input type="password" name="Senha" id="" placeholder="  Ex: abrigo123">
         </div>

         <div class="divfilho">
          <label for="senha">Confirme sua senha:</label>
          <input type="password" name="ConfirmarSenha" id="" placeholder="  Ex: abrigo123">
       </div>
       <div>
        <label for="sobre">Fale sobre você:</label>
        <textarea name="sobre" id="sobre" cols="10" rows="10" placeholder="Ex: Data de criação do abrigo, estrutura do abrigo..."></textarea>
      </div>

        <div class="divfilho">
          <label for="file">Envie sua foto:</label>
          <input type="file" name="sualogo" id="sualogo"  accept="*/image">
       </div>
       <div class="divfilho">
        <label for="file">Envie sua logo:</label>
        <input type="file" name="sualogo" id="sualogo"  accept="*/image">
     </div>

    
      
              <div id="botao">
               <button type="submit">Enviar!</button> 
              </div>
            </div>
        </form> 
    </main>
    <%-include('./partials/footer')%>  
    
</body>
</html>