<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpet</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
    <body>
        <header>

            <div><img src="/img/favicon_helpet.ico" alt="logotipo da empresa"></div>
            
            <% if(locals.usuario) { %>
                <a href="/usuario/edit/<%= locals.usuario.id %>">                    
                <button class="foto-usuario">
                        <% if(locals.usuario) { %> 
                            <img class="foto-usuario" src="./foto/<%= locals.usuario.foto %> " alt="">
                        <% }%> 
                </button>
            </a>
            <% }%>
            
        </header>
            
        <main>
            <div><img src="/img/helpet.png"alt="logotipo da empresa"></div>
            <p class="p1">Conectando você ao seu Pet!</p>
        <span>
            
            <a href="/abrigos"><button class="btn1" type="button" >Encontrar um abrigo</button></a>
            
        </span>
        <span>
            <a href="/login"><button class="btn2" type="button">Ser parceiro</button></a>
        </span>
        </main>

        <%-include('./partials/footer')%>
    </body>
</html>