<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon_helpet.ico" type="image/x-icon">
    <title>Helpet</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body class="imgbackground" background="./img/sem cor de fundo.png">

    <%-include('./partials/header')%>

    <main>
        
        
         <div id="telalogin">
          <br>
          <h1>Login</h1>
         <form action="login" method="post">
            <label for="email">Digite seu email:</label>
            
            <input type="email" id="email" name="email" placeholder="Ex: email@gmail.com">
            
            <label for="senha">Digite sua senha:</label>
            
            <input type="password"name="senha" id="senha" placeholder="Ex: 123456">
            <a href="https://www.youtube.com/watch?v=mM0tiwgtoCw" id="resetsenha">Esqueci minha senha</a>
            <div id="entrar">
                <button id="botaocadastre"type="submit"><a href="/login/cadastro" style="color:white">Cadastre-se</a></button>
                <button id ="botaologin"type="submit">Entrar</button>
            </div>
        </form>
        </div>
        
   
    </main>

    <%-include('./partials/footer')%>
    
</body>
</html>