<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/headerFooter.css">
    <link rel="stylesheet" href="../../public/css/sobre_nos.css">
    <link rel="shortcut icon" href="img/favicon_helpet.ico" type="image/x-icon">

    <title>Sobre Nós</title>
</head>
<body>
    <header>
        <div>
            <figure id="logotipo">
                <img class="logo" src="./img/dog_br_transp.png" onmouseover="this.src='./img/6_1.png'" onmouseout="this.src='./img/dog_br_transp.png'" alt="Logotipo da empresa Helpet, cachorro de perfil vazado no fundo branco.">
            </figure>

            <figure id="helpet">
                <img class= "helpet" src="./img/helpet.png" onmouseover="this.src='./img/6_2.png'" onmouseout="this.src='./img/helpet.png'" alt="Nome da empresa Helpet acompanhando o logotipo.">
            </figure>
        
        </div>
        

        <nav>
        
            <ul id="menu">
                <li>
                    <a href="../home_pag/home_sp2.html">
                        Home
                    </a>
                </li>

                <li>
                    <a href="../pag2_maps/maps.html">
                        Abrigos
                    </a>
                </li>

                <li>
                    <a href="../pag3_abrigos/abrigos.html">
                        Abrigos Parceiros
                    </a>
                </li>

                <li>
                    <a href="../pag6_sobreNos/sobre_nos.html">
                        Sobre nós
                    </a>
                </li>

                <li>
                    <a href="../pag7-8_cadastro/login.html">
                        Login
                    </a>
                </li>

                <li>
                    <a href="../pag5_cadastroAbrigos/formulario.html">
                        Fale conosco
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="container">
            
            <h1>Sobre o Helpet</h1>

                <div class="info">

                    <p class="sobre">
                        O Helpet é um site em que Abrigos de animais, ONGs e Protetores de todo o Brasil podem divulgar seu trabalho e incentivar a colaboração a partir de doações e trabalho voluntário. O projeto tem como objetivo, fazer a ponte entre aqueles que procuram abrigos de animais próximos a sua localidade para contribuir com as doações, e os próprios abrigos que necessitam da ajuda. Além de informar a situação do abrigo em relação aos estoques de alimento, medicamentos, cobertores e outros. 

                    </p>

                    <h2>Como funciona</h2>

                        
                            <p>1 - Abrigos, ONGs, ou protetores fazem um cadastro gratuito em nosso site;</p>

                            <p>2 - As pessoas interessadas a contribuir com alguma organização ligada aos animais vão entrar no site e a partir da localidade da pessoa é possível listar os lugares cadastrado que se encontram próximos a ela;</p>

                            <p>3 - É possivel também acessar a página de cada organização para conhece-la melhor e ver como está a situação do abrigo.</p>
                        
                </div>
        </div>

    </main>
    <footer id="footer">
        <div class="links">
            <div class="links-1">
                <ul>
                    <li class="titulo">Menu</li>
                    <li>
                        <a href="../pag6_sobreNos/sobre_nos.html">Sobre nós</a>
                    </li>
                    <li>
                        <a href="../pag7-8_cadastro/login.html">Cadastro</a>
                    </li>
                    <li>
                        <a href="../pag4_infoAbrigos/pagAbrigo.html">Informações de abrigos</a>
                    </li>
                    <li>
                        <a href="../pag3_abrigos/abrigos.html">Abrigos</a>
                    </li>
                    <li>
                        <a href="../pag2_maps/maps.html">Maps</a>
                    </li>
                </ul>
            </div>
            <div class="redes">
                <img src="../header_footer/img/instagram_2.png" alt="ícone do Instagram">
                <img src="../header_footer/img/facebook_2.png" alt="ícone do Facebook">
                <img src="../header_footer/img/youtube_2.png" alt="ícone do Youtube">
             </div>
        </div>

        <div class="img-logo">
            
                <img class="cachorrinho" src="./img/6_1.png" alt="Logotipo da empresa marrom cachorrinho vazado em branco">
            
                <img class="pet" src="./img/6_2.png" alt="Logotipo da empresa marrom escrito helpet">
        </div>


    </footer>
    
</body>
</html>