<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/headerFooter.css">
</head>
<body>
    <footer>
        <div class="links">
            <div class="links-1">
                <ul>
                    <li class="titulo">Menu</li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/sobreNos">Sobre nós</a>
                    </li>
                    <li>
                        <a href="/login/cadastro">Cadastro</a>
                    </li>
                    <li>
                        <a href="/abrigos">Abrigos</a>
                    </li>

                    <li>
                        <a href="/abrigosParceiros">Abrigos parceiros</a>
                    </li>

                    <li>
                        <a href="/faleconosco">Fale Conosco</a>
                    </li>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    
                </ul>
            </div>
            <div class="redes">
                <img src="/img/instagram_2.png" alt="ícone do Instagram">
                <img src="/img/facebook_2.png" alt="ícone do Facebook">
                <img src="/img/youtube_2.png" alt="ícone do Youtube">
             </div>
        </div>
    
            <div class="img-logo">
                
                    <img class="cachorrinho" src="/img/6_1.png" alt="Logotipo da empresa marrom cachorrinho vazado em branco">
                
                    <img class="pet" src="./img/6_2.png" alt="Logotipo da empresa marrom escrito helpet">
            </div>
    
    
        </footer>
</body>
</html>