<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/headerFooter.css">
</head>
<body>
    <header>
        <div>
            <figure id="logotipo">
                <img class="logo" src="/img/dog_br_transp.png" onmouseover="this.src='/img/6_1.png'" onmouseout="this.src='/img/dog_br_transp.png'" alt="Logotipo da empresa Helpet, cachorro de perfil vazado no fundo branco.">
            </figure>

            <figure id="helpet">
                <img class= "helpet" src="/img/helpet.png" onmouseover="this.src='/img/6_2.png'" onmouseout="this.src='/img/helpet.png'" alt="Nome da empresa Helpet acompanhando o logotipo.">
            </figure>
        
        </div>
        

       
        <nav>
            <ul id="menu">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>

                <li>
                    <a href="/abrigos">
                        Abrigos
                    </a>
                </li>

                <li>
                    <a href="/abrigosParceiros">
                        Abrigos Parceiros
                    </a>
                </li>

                <li>
                    <a href="/sobreNos">
                        Sobre nós
                    </a>
                </li>

                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>

                <li>
                    <a href="/faleconosco">
                        Fale conosco
                    </a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>