<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  type="module" defer src="/js/menu.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    
    <link rel="stylesheet" href="/css/headerFooter.css">
   
</head>
<body>
    <header id="header">
        <div id="logo">
            <figure id="logotipo">
                <img class="logo" src="/img/dog_br_transp.png" onmouseover="this.src='/img/6_1.png'" onmouseout="this.src='/img/dog_br_transp.png'" alt="Logotipo da empresa Helpet, cachorro de perfil vazado no fundo branco.">
            </figure>

            <figure id="helpet">
                <img class= "helpet" src="/img/helpet.png" onmouseover="this.src='/img/6_2.png'" onmouseout="this.src='/img/helpet.png'" alt="Nome da empresa Helpet acompanhando o logotipo.">
            </figure>
        
        </div>
        <nav id="nav">
            <button aria-label="Abrir Menu" id="btn-mobile" aria-haspopup="true" aria-controls="menu"aria-expanded="false">
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>

                <li>
                    <a href="/sobreNos">
                        Sobre nós
                    </a>
                </li>

                <li>
                    <a href="/abrigos">
                        Abrigos
                    </a>
                </li>


                <li>
                    <a href="/abrigosParceiros">
                        Abrigos Parceiros
                    </a>
                </li>
                <% if(!usuario) { %>
                    <li>
                        <a href="/login">
                            Login
                        </a>
                    </li>
                <% }%>

                <li>
                    <a href="/faleconosco">
                        Fale conosco
                    </a>
                </li>
                <% if(usuario) { %>
                    <a href="/usuario/edit/<%= usuario.id %>">                    
                    <button class="foto-usuario">
                            <% if(usuario) { %> 
                                <img class="foto-usuario" src="/foto/<%= usuario.suafoto %> " alt="">
                            <% }%> 
                    </button>
                </a>
                <% }%>
                    <% if(usuario) { %>
                        <li >
                            <a id="botão-sair" href="/usuario/logout">
                                Sair
                            </a>
                        </li>
                    <% }%>
            </ul>
        </nav>
    </header>
    
</body>
</html>